In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"customer_churn_dataset-testing-master.csv")

In [3]:
print("Columns in DataFrame:", df.columns.tolist())

Columns in DataFrame: ['CustomerID', 'Age', 'Gender', 'Tenure', 'Usage Frequency', 'Support Calls', 'Payment Delay', 'Subscription Type', 'Contract Length', 'Total Spend', 'Last Interaction', 'Churn']

In [4]:
customer_column = "CustomerID"
spend_column = "Total Spend"

In [5]:
customer_spend = (
    df.groupby("CustomerID", as_index=False)["Total Spend"]
    .sum().
    sort_values(by="Total Spend", ascending=False)
)
print("\nCustomers sorted by total spend (descending):")
print(customer_spend)

Customers sorted by total spend (descending):
       CustomerID  Total Spend
37461       37462         1000
40             41         1000
45253       45254         1000
28861       28862         1000
16972       16973         1000
...           ...          ...
4358         4359          100
33728       33729          100
49752       49753          100
34388       34389          100
59550       59551          100

[64374 rows x 2 columns]

In [6]:
top = customer_spend.iloc[0]
print(top)
print(top.index.tolist())

print(f"\Top spender -> CustomerID {top['CustomerID']} with total spend {top['Total Spend']}")

CustomerID     37462
Total Spend     1000
Name: 37461, dtype: int64
['CustomerID', 'Total Spend']
\Top spender -> CustomerID 37462 with total spend 1000

In [8]:
df = pd.read_csv("customer_churn_dataset-testing-master.csv")

In [9]:
sorted_df = df.sort_values(by=["Churn", "Age"], ascending=[True, True])

print("Customers sorted by Churn status, then Age:")
print(sorted_df)

Customers sorted by Churn status, then Age:
       CustomerID  Age  Gender  Tenure  Usage Frequency  Support Calls  \
53             54   18  Female      22               21              3
61             62   18  Female      57               16             10
116           117   18    Male      36               18              7
192           193   18    Male      28               12              3
207           208   18    Male      33               18              1
...           ...  ...     ...     ...              ...            ...
64190       64191   65    Male      50                4              9
64225       64226   65  Female       7               13              9
64234       64235   65  Female      42               14              3
64307       64308   65  Female      19               15              1
64348       64349   65    Male      52                3              9

       Payment Delay Subscription Type Contract Length  Total Spend  \
53                30           Premium          Annual          919
61                 2             Basic       Quarterly          657
116               14          Standard         Monthly          635
192               20          Standard         Monthly          261
207               22             Basic          Annual          312
...              ...               ...             ...          ...
64190              8          Standard       Quarterly          119
64225             30             Basic       Quarterly          280
64234             28           Premium         Monthly          939
64307             29          Standard          Annual          110
64348              1           Premium          Annual          842

       Last Interaction  Churn
53                    3      0
61                   26      0
116                  19      0
192                  13      0
207                  29      0
...                 ...    ...
64190                17      1
64225                 1      1
64234                 9      1
64307                23      1
64348                24      1

[64374 rows x 12 columns]

In [10]:
print("""
Patterns to observe:
-Young customers in each churn category appear at the top."
-Within 'Yes' and 'No' groups, Age increases from youngest to oldest."
-You can now compare age distribution differences between churned and non-churned customers
""")

Patterns to observe:
-Young customers in each churn category appear at the top."
-Within 'Yes' and 'No' groups, Age increases from youngest to oldest."
-You can now compare age distribution differences between churned and non-churned customers

In [11]:
df = pd.read_csv(r"customer_churn_dataset-testing-master.csv")

In [12]:
churn_gender = pd.crosstab(df['Gender'], df['Churn'])

In [14]:
churn_gender_pct = churn_gender.div(churn_gender.sum(axis=1), axis=0) * 100

print("Crosstab of churn vs gender:\n", churn_gender)
print("\nChurn percentage by gender:\n", churn_gender_pct)

Crosstab of churn vs gender:
 Churn       0      1
Gender
Female  15442  18911
Male    18439  11582

Churn percentage by gender:
 Churn           0          1
Gender
Female  44.950950  55.049050
Male    61.420339  38.579661

In [15]:
churn_col = churn_gender.columns[-1]
print("\nDetected churn column:", churn_col)

Detected churn column: 1

In [16]:
if churn_gender_pct.loc["Male", churn_col] > churn_gender_pct.loc["Female", churn_col]:
    print("\nPattern: Males have higher churn rates than Females.")
else:
    print("\nPattern: Females have higher churn rates than Males.")

Pattern: Females have higher churn rates than Males.

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv(r"customer_churn_dataset-testing-master.csv")

In [19]:
print(df.columns)

Index(['CustomerID', 'Age', 'Gender', 'Tenure', 'Usage Frequency',
       'Support Calls', 'Payment Delay', 'Subscription Type',
       'Contract Length', 'Total Spend', 'Last Interaction', 'Churn'],
      dtype='object')

In [20]:
crosstab = pd.crosstab(df['Subscription Type'], df['Churn'])
print("Crosstab of Churn vs Subscription Type:\n")
print(crosstab)

Crosstab of Churn vs Subscription Type:

Churn                  0      1
Subscription Type
Basic              11095  10356
Premium            11461   9960
Standard           11325  10177

In [21]:
churn_rate = (
    df[df['Churn'] == "Yes"]
    .groupby("Subscription Type")
    .size()
    / df.groupby("Subscription Type").size()
).sort_values(ascending=False)

print("Churn rate by Subscription Type:\n")
print(churn_rate)

Churn rate by Subscription Type:

Subscription Type
Basic      NaN
Premium    NaN
Standard   NaN
dtype: float64

In [28]:
highest_churn = churn_rate.idxmax()
print(f"\nThe subscription type with the highest churn is: {highest_churn}")

The subscription type with the highest churn is: nan

C:\Users\USER\AppData\Local\Temp\ipykernel_10976\1684132298.py:1: FutureWarning: The behavior of Series.idxmax with all-NA values, or any-NA and skipna=False, is deprecated. In a future version this will raise ValueError
  highest_churn = churn_rate.idxmax()

In [29]:
import pandas as pd

In [30]:
avg_spend = df.groupby("Subscription Type")["Total Spend"].mean().sort_values(ascending=False)
print("Average Total Spend by Subscription Type:\n")
print(avg_spend)

Average Total Spend by Subscription Type:

Subscription Type
Premium     543.581579
Basic       540.908536
Standard    538.589387
Name: Total Spend, dtype: float64

In [31]:
total_revenue = df.groupby("Subscription Type")["Total Spend"].sum().sort_values(ascending=False)
print("\nTotal Revenue by Subscription Type:\n")
print(total_revenue)

Total Revenue by Subscription Type:

Subscription Type
Premium     11644061
Basic       11603029
Standard    11580749
Name: Total Spend, dtype: int64

In [32]:
highest_revenue_type = total_revenue.idxmax()
highest_revenue_value = total_revenue.max()
print(f"\nThe subscription type that brings in the most revenue is: {highest_revenue_type} "
      f"with total revenue of {highest_revenue_value:.2f}")

The subscription type that brings in the most revenue is: Premium with total revenue of 11644061.00

In [33]:
import pandas as pd

In [34]:
avg_tenure = df.groupby("Churn")["Tenure"].mean()
print("Average Tenure by Churn Status:\n")
print(avg_tenure)

Average Tenure by Churn Status:

Churn
0    28.826481
1    35.515200
Name: Tenure, dtype: float64

In [35]:
print(df['Churn'].unique())

[1 0]

In [36]:
print("Unique churn values:", df['Churn'].unique())

Unique churn values: [1 0]

In [37]:
avg_tenure = df.groupby("Churn")["Tenure"].mean()
print("\nAverage Tenure by Churn Status:\n")
print(avg_tenure)

Average Tenure by Churn Status:

Churn
0    28.826481
1    35.515200
Name: Tenure, dtype: float64

In [38]:
shortest = avg_tenure.idxmin()

print(f"\nCustomers labeled as '{shortest}' have shorter tenures on average.")

Customers labeled as '0' have shorter tenures on average.

In [39]:
import pandas as pd

In [40]:
df = pd.read_csv(r"customer_churn_dataset-testing-master.csv")

In [41]:
pivot = pd.pivot_table(
    df,
    values="Total Spend",
    index="Gender",
    columns="Churn",
    aggfunc="mean"   
)

print("Pivot Table of Average Total Spend by Gender and Churn:\n")
print(pivot)

Pivot Table of Average Total Spend by Gender and Churn:

Churn            0           1
Gender
Female  573.396969  501.592089
Male    549.776344  548.308496

In [42]:
max_value = pivot.max().max()
max_group = pivot.stack().idxmax()

print(f"\nThe group that spends the most on average is: {max_group} "
      f"with an average spend of {max_value:.2f}")

The group that spends the most on average is: ('Female', np.int64(0)) with an average spend of 573.40

In [43]:
pivot = pd.pivot_table(
    df,
    values="Usage Frequency",
    index="Contract Length",
    columns="Churn",
    aggfunc="mean"
)

print("Pivot Table of Average Usage Frequency by Contract Length and Churn:\n")
print(pivot)

Pivot Table of Average Usage Frequency by Contract Length and Churn:

Churn                    0          1
Contract Length
Annual           16.195484  13.410308
Monthly          16.000374  14.407845
Quarterly        15.931286  14.163452

In [44]:
for contract in pivot.index:
    churned = pivot.loc[contract].get("Yes", None)
    not_churned = pivot.loc[contract].get("No", None)
    if churned is not None and not_churned is not None:
        if churned < not_churned:
            print(f"\nFor {contract} contracts: churned customers use the service less often.")
        else:
            print(f"\nFor {contract} contracts: churned customers use the service more often.")